*{
    box-sizing: border-box;
    color: #FBF8BE;
    background-color: #234E70;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.container > h1{
    margin-top: 0px;
    font-size: 35px;
    text-transform: uppercase;
    text-decoration: underline;
}

.home, .our, .about, .contact {
    border: 2px solid #FBF8BE;
    padding: 15px;
    height: 100%;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    color: #FBF8BE;
}

.home:hover, .our:hover, .about:hover, .contact:hover {
    background-color: #FBF8BE;
    color: #234E70;
    cursor: pointer;
    text-decoration: underline;
}

.bodyText{
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.heading{
    text-decoration: underline;
    text-transform: uppercase;
    margin-left: 300px;
    margin-top: 20px;
    font-size: 30px;
    overflow: hidden;
    border-right: 2px solid #FBF8BE;
    white-space: nowrap;
    animation: typing 1.5s forwards;
    width: 0;
}

@keyframes typing {
    from { width: 0 }
    to { width: 65% }
}

.sections{
    display: flex;
    justify-content: space-around;
}

.customer, .money, .history {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 450px;
    padding: 10px;
    border: 5px solid #FBF8BE;
    border-radius: 20px;
    -webkit-tap-highlight-color: transparent;
    transform: scale(0.48);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.customer:hover, .money:hover, .history:hover{
    transform: scale(0.54);
    box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.35);
}

.customer>img {
    width: 400px;
    height: 400px;
    align-self: center;
}

.money>img{
    width: 310px;
    height: 310px;
    align-self: center;
}

.history>img{
    width: 300px;
    height: 300px;
    align-self: center;
}

.customer>h1, .money>h1, .history>h1{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 48px;
}

footer{
    border-top: 2px solid #FBF8BE;
    padding: 10px;
    height: 120px;
}

footer > p{
    font-size: 25px;
    text-align: center;
}